	<!-- Footer-->
	<footer>
		<div style="background-color: #3F4040; margin-top: 64px;">
			<div class="container mx-auto text-white">
				<div
					class="flex flex-col md:items-center lg:mx-1 lg:text-left lg:items-start md:flex-row md:flex-nowrap justify-between min-w-fit">
					<div class="flex-shrink-0 mx-auto md:mx-0 md:text-left lg:mx-0 lg:text-left">
						<div class=" flex" style="margin-top: 32px;">
							<img src="/bootstrap-frontend-nodejs/src/img/img/Logo Conecworld (tanpa BG)-02 1.svg" class="md:h-30 w-56" alt="">
						</div>
						<div>
							<h1 class="mt-8 text-main-color font-semibold">Alamat</h1>
							<p class="mt-2 mb-4 text-xs">Conecworld Center (AJBS)<br>
								Bloc. D No. GF-D3.11
								Jalan Ratna 14, Ngagel, Wonokromo, 60246, Surabaya, <br>
								Jawa Timur, Indonesia
							</p>
						</div>
						<div>
							<h1 class="text-main-color font-semibold">Kontak Kami</h1>
							<p class="mt-2 text-xs">
							<div class="flex">
								<img src="/assets/img/envelope 1.svg" style="padding-right: 7px;" alt="">
								<p>hi@connecworld.com</p>
							</div>
							<div class="flex">
								<img src="/assets/img/telephone-handle-silhouette 1.svg" style="padding-right: 7px;"
									alt="">
								<p>08111111</p>
							</div>
							</p>
						</div>
					</div>

					<div class="mt-8">
						<div>
							<h1 class="text-mainColor4 font-semibold">Produk</h1>
						</div>
						<ul class="mt-2">
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">ConnecLink</a></li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">ConecChance</a></li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">ConecEvent</a></li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">ConecInsight</a>
							</li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">ConecQuiz</a></li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">ConecExpert</a></li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">ConecBiz</a></li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">ConecTalk</a></li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">ConecFund</a></li>
						</ul>
					</div>
					<div class="mt-8 ">
						<div>
							<h1 class="text-mainColor4 font-semibold">Perusahaan</h1>
						</div>
						<ul>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">Tentang Kami</a>
							</li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">Kerja Sama</a></li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">Karir</a></li>
						</ul>
					</div>
					<div class="mt-8 ">
						<div>
							<h1 class="text-mainColor4 font-semibold">Peraturan</h1>
						</div>
						<ul>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">Syarat &
									Ketentuan</a></li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">Kebijakan
									Privasi</a></li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">Bantuan</a></li>
							<li class="text-xs mt-2"><a href="" class="hover:text-Shade3Color3">FAQ</a></li>
						</ul>
					</div>

					<div class="mt-8 mb-12">
						<h1 class="font-semibold text-mainColor4">Media Sosial</h1>
						<div class="flex gap-4 mt-4">
							<a href=""><img src="/bootstrap-frontend-nodejs/src/img/img/fb-logo.svg" alt=""></a>
							<a href=""><img src="/bootstrap-frontend-nodejs/src/img/img/Masuk/instagram (3) 1.svg" alt=""></a>
							<a href=""><img src="/bootstrap-frontend-nodejs/src/img/img/Masuk/youtube 1.svg" alt=""></a>
							<a href=""><img src="/bootstrap-frontend-nodejs/src/img/img/Masuk/tik-tok 1.svg" alt=""></a>
							<a href=""><img src="/bootstrap-frontend-nodejs/src/img/img/Masuk/Group.svg" alt=""></a>
							<a href=""><img src="/bootstrap-frontend-nodejs/src/img/img/Masuk/linkedin (1) 1.svg" alt=""></a>
							<a href=""><img src="/bootstrap-frontend-nodejs/src/img/img/Masuk/spotify 1.svg" alt=""></a>
						</div>
						<h1 class="font-semibold mt-6 text-mainColor4">Unduh Aplikasi Connecworld Gratis</h1>
						<div class="flex gap-4 mt-4">
							<a href=""><img src="/bootstrap-frontend-nodejs/src/img/img/Masuk/play store.svg" alt=""></a>
							<a href=""><img src="/bootstrap-frontend-nodejs/src/img/img/Masuk/iphone.svg" alt=""></a>
						</div>
					</div>
				</div>
				<div class="border-t mt-12">
					<div class="text-center p-10 justify-center">
						<p>©2021 Conecworld Hak Cipta Dilindungi</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

    <script src="/bootstrap-frontend-nodejs/src/js/index.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
                speed: 2000,
                spaceBetween: 100,
                autoplay: {
                    delay: 1000,
                },
                // Optional parameters
                direction: 'horizontal',
                loop: true,

                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                },
            });
    </script>
	<!-- End Footer-->

</body>
</html>