<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="img/logo-only.png" type="image/png" sizes="16x16">
	<title>Login | Register</title>

	<!-- CSS -->
	<!-- <link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/select2.min.css" />
	<link rel="stylesheet" href="css/jquery.dataTables.min.css" />
	<link rel="stylesheet" href="css/Chart.min.css" /> -->
	<link rel="stylesheet" href="/bootstrap-frontend-nodejs/dist/css/styles.css">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
	<!-- End CSS -->

	<!-- JS -->
	<!-- <script src="js/jquery.min.js"></script>
  	<script src="js/jquery.bxslider.min.js"></script>
  	<script src="js/jquery-ui.js"></script>
  	<script src="js/select2.min.js"></script>
  	<script src="js/jquery.dataTables.min.js"></script>
  	<script src="js/Chart.bundle.min.js"></script>
  	<script src="js/jquery.colorbox-min.js"></script> -->
  	<script src="js/script.js"></script>
  	<!-- End JS -->

</head>
<body>
	<!-- Header-->
	<div class="bg-mainColor7">
        <section>
            <div class="drop-shadow-md bg-white">
                <div class="container mx-auto">
                    <nav class="flex items-center pl-0 p-3 flex-wrap mx-px">
                        <a href="/public/index.html" class="pl-0 p-2 mr-4 inline-flex items-center">
                            <img src="/bootstrap-frontend-nodejs/src/img/img/Logo Conecworld (tanpa BG)-01 1.svg" alt="image-logo" />
                        </a>
                        <button class="inline-flex rounded lg:hidden ml-auto nav-toggler" data-target="#navigation">
                            <img src="https://img.icons8.com/ios-glyphs/30/000000/menu--v2.png" />
                        </button>
                        <div class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto" id="navigation">
                            <div class="lg:inline-flex lg:flex-row lg:ml-auto gap-3 flex flex-col">
                                <a href="#"
                                    class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-main-color underline ">
                                    <span class="text-base">Beranda</span>
                                </a>
                                <a href="#"
                                    class="lg:inline-flex lg:w-auto px-3 py-2 rounded hover:text-main-color no-underline hover:underline">
                                    <span class="text-base">Perusahaan</span>
                                </a>
                                <a href="#"
                                    class="lg:inline-flex lg:w-auto px-3 py-2 rounded hover:text-main-color no-underline hover:underline ">
                                    <span class="text-base">Produk</span>
                                </a>
                            </div>
                            <button class="p-2 -m-2.5">
                                <img src="/bootstrap-frontend-nodejs/src/img/img/Vector.svg" alt="">
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
	<!-- End Header-->